.drop {
	font-size:40;	
	display: inline-block;
	position: absolute;
    -webkit-animation: fall 4s linear infinite;
    -moz-animation: fall 4s linear infinite;
}
.rain {
	overflow: hidden;
	width:100%;	
}

@-webkit-keyframes fall {
	to {margin-top:2000px;}
}
@-moz-keyframes fall {
	to {margin-top:2000px;}
}
