.drop {
	height: 32px;
	width: 32px;
	background-image:url('turkey.png');
	background-repeat:no-repeat;
	display: inline-block;
	position: absolute;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;
}

@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}
