body {
	  display:block;
	  text-align:center; 
	  margin-top:20px;
	  overflow: hidden;
	  color:#000; 
}

.drop {
	font-size:90;	
	display: inline-block;
	position: absolute;
    -webkit-animation: fall 4s linear infinite;
    -moz-animation: fall 4s linear infinite;
}
.rain {
	overflow: hidden;
	width:100%;	
}

@-webkit-keyframes fall {
	to {margin-top:2000px;}
}
@-moz-keyframes fall {
	to {margin-top:2000px;}
}

.dark-mode {
  background-color: #121212;  
  color:white;  

}

.btn-primary { 
	background: #616161; 
}

.toggle, .toggle-on, .toggle-off { border-radius: 30px; }